<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="5dfb7d2a-e5ed-42f1-b850-47d1c8c3788c" Publisher="CN=phgod" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="5dfb7d2a-e5ed-42f1-b850-47d1c8c3788c" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>App1</DisplayName>
    <PublisherDisplayName>phgod</PublisherDisplayName>
    <Logo>Assets\icon50x50.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="App1.App">
      <uap:VisualElements DisplayName="Currency Viewer app" Square150x150Logo="Assets\icon300x300.png" Square44x44Logo="Assets\icon88x88.png" Description="App1" BackgroundColor="transparent">
        <uap:DefaultTile Square71x71Logo="Assets\icon142x142.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\icon.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>